@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-sulphur-point: "Sulphur Point";
  --font-roboto: Roboto;
  --font-rubik: Rubik;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xs-5: 11.5px;
  --font-size-4xs-7: 8.7px;
  --font-size-5xs-2: 7.2px;
  --font-size-9xl: 28px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: rgba(236, 236, 236, 0.5);
  --color-darkgray-100: #94979a;
  --color-darkgray-200: rgba(148, 151, 154, 0.3);
  --color-gray-100: #fafafa;
  --color-gray-200: #1f1f1f;
  --color-gray-300: #131313;
  --color-gray-400: rgba(0, 0, 0, 0.6);
  --color-gray-500: rgba(0, 0, 0, 0.38);
  --color-gray-600: rgba(0, 0, 0, 0.87);
  --color-lightsteelblue-100: #c5c7f6;
  --color-lightgoldenrodyellow-100: #c2ecc1;
  --color-honeydew: #ddf6de;
  --color-darkolivegreen: #608662;
  --color-lavender-100: #d4d4fc;

  /* border radiuses */
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-53xl-1: 72.1px;
  --br-8xs: 5px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
